div.ui-datepicker .ui-datepicker-header {
    background-color: rgba(77, 186, 239, 0.48);
}
#name, #email, #date {
    width: 100%;
}
#message {
    width: 100%;
    height: 100px;
}
div.col-xs-12.col-sm-12.col-md-12.formHeader>h4>b {
    text-decoration: none;
}
div.formMain {
    margin-top: 20px;
    margin-bottom: 50px;
}
@keyframes submitFrom240 {
    from {
        width: 240px;
    }
    to {
        width: 300px;
    }
}
@keyframes submitFrom140 {
    from {
        width: 140px;
    }
    to {
        width: 175px;
    }
}
input.btn.btn-warning.btnSubmit {
    width: 240px;
    font-size: large;
    margin-top: 15px;
    margin-left: 15px;
}
input.btn.btn-warning.btnSubmit:hover {
    animation-name: submitFrom240;
    animation-duration: 4s;
}
.btnSubmitContainer {
    text-align: left;
}
.valitateText {
    font-size: small;
    color: #d1cdcd;
    float: right;
    padding-right: 14px;
    margin: 0;
}
.messageInAB {
    margin-top: 25px;
}
div.col-xs-12.col-sm-12.col-md-6.contactText {
    margin-top: 35px;
    padding-left: 10%;
}
@media (max-width:1270px) and (min-width:991px) {
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: x-small;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: x-small;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        font-size: x-small;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        font-size: x-small;
    }
}
@media (max-width:991px) {
    div.col-xs-12.col-sm-12.col-md-6.contactText {
        margin-top: 40px;
        padding-left: 15px;
    }
}
@media (max-width:560px) {
    div.jumbotron.mainErea {
        height: 94px;
        text-align: center;
    }
    .messageInAB {
        float: none;
    }
    .concactUsIMG {
        float: none;
    }
    div.row.main {
        margin-bottom: 50px;
    }
    input.btn.btn-warning.btnSubmit {
        width: 140px;
        font-size: small;
    }
    input.btn.btn-warning.btnSubmit:hover {
        animation-name: submitFrom140;
        animation-duration: 4s;
    }
}
